.navbar-brand {
	padding: 0; 
}

.navbar-public-white {
	background-color: white;
}

.button-fixed {
	position: fixed;
	right: 20px;
	bottom: 20px;
	width: 45px;
	height: 45px;
	border: 1px solid transparent;
	z-index: 999;
}

.white-nav-bar-text {
	color: white;
}

.black-nav-bar-text {
	background-color: black;
}

.ct-navbarMobile.ct-navbarMobile--inverse {
	background-color: black;
}

.ct-navbarMobile .navbar-toggle .icon-bar {
	background-color: white;
}

.ct-navbar--top .navbar {
	background-color: black;
}