.navbar-brand {
	padding: 0; 
}

.navbar-public-white {
	background-color: white;
}

.button-fixed {
	position: fixed;
	right: 20px;
	bottom: 20px;
	width: 45px;
	height: 45px;
	border: 1px solid transparent;
	z-index:darkgrey;
}

.white-nav-bar-text {
	color: white;
}

.black-nav-bar-text {
	background-color: black;
}

.ct-navbarMobile.ct-navbarMobile--inverse {
	background-color: black;
}

.ct-navbarMobile .navbar-toggle .icon-bar {
	background-color: white;
}

.ct-navbar--top .navbar {
	background-color: black;
}

input::-webkit-input-placeholder {
	color: lightcoral !important;
}

input:-moz-placeholder { /* Firefox 18- */
	color: lightcoral !important;
}

input::-moz-placeholder {  /* Firefox 19+ */
	color: lightcoral !important;
}

input:-ms-input-placeholder {
	color: lightcoral !important;
}
